
/* This will apply all included styles to the header element */
header{
    font-size: 70px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(90, 15, 15);
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Trebuchet MS';
    text-decoration: none;
  }

/* This will apply all included styles to any element which uses the "logo" class*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -75px;
}

/* This will apply any included styles to the body element */
body{
    font-family: 'Trebuchet MS';
    background-color: 	#6633cc  ;
}

/* Create your own classes below! */

.pretty-p{
    padding: 20px;
    width: 400px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    text-align: justify;
}

.pretty-p-lime{
    padding: 20px;
    width: 400px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    text-align: justify;
    background-color: #99cc33;
}

.pretty-p-blue{
    padding: 20px;
    width: 400px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    text-align: justify;
    background-color: #3399cc;
}